/* Portofolio */
.backgroundportofolio {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcomeportofolio {
  text-align: center;
  font-weight: 900;
  color: white;
  font-size: 300%;
  margin-top: 200px;
}
.portocontainer {
  height: 100%;
}
.listjudul {
  padding: 20px;
  display: flex;
  background-color: grey;
  justify-content: space-around;
  align-items: center;
}
.judul {
  font-weight: 900;
  color: white;
  font-size: 100%;
}

@media only screen and (max-width: 768px) {
  .backgroundportofolio {
    height: 60vh;
  }
  .welcomeportofolio {
    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 100%;
    margin-top: 50%;
  }
  .listjudul {
    padding: 5px;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
  }
  .imgportofolio {
    width: 100%;
  }
}
/* Portofolio */
