/* Loader */
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: anim2 2s cubic-bezier(0.19, 1, 0.22, 1) 7s both;
}
#wrapperload {
  width: 500px;
  height: 100px;
  overflow: hidden;
}
#wrapperload .elem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* #wrapperload .elem img {
  width: 40%;
} */
#wrapperload .elem h1 {
  color: white;
}

#wrapperload .elem:nth-child(1) {
  animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 2s both;
}
#wrapperload .elem:nth-child(2) {
  animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 4s both;
}
#wrapperload .elem:nth-child(3) {
  animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 6s both;
}
@keyframes anim {
  to {
    margin-top: -100px;
  }
}
@keyframes anim2 {
  to {
    transform: translateY(-100%);
  }
}
/* Loader */

/* Portofolio */
.backgroundparallax {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Portofolio */
/* yogaintroduce */
.yogaIntroduce {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.yogaleft {
  width: 60%;
  margin-left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yogabutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.yogaright {
  width: 40%;
}
.fotoyoga {
  width: 100%;
}
/* yogaintroduce */
